<div id="hero">
  <div class="container">
    <div class="title">
      {% block promoted %}
      {% snippet 'home/snippets/promoted.html' %}
      {% endblock %}
    </div>
    <div class="row form-container">
      {% block search %}
      {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>
    <div class="row">
      {% set stats = h.get_site_statistics() %}

      <div class="col-md-4 col-sm-4 col-xs-4 featured-box">
        <i class=" fa fa-database "></i>
        <h2>{{ h.SI_number_span(stats.dataset_count) }}</h2>
        <h3>Datasets</h3>
      </div>
      <div class="col-md-4 col-sm-4  col-xs-4 featured-box">
        <i class="fa fa-sitemap"></i>
        <h2>{{ h.SI_number_span(stats.organization_count) }}</h2>
        <h3>Data Sources</h3>
      </div>
      <div class="col-md-4  col-sm-4 col-xs-4 featured-box">
        <i class="fa fa-users"></i>
        <h2><!-- {{ h.SI_number_span(stats.group_count) }} -->96</h2>
        <h3>Contributors</h3>
      </div>
    </div>
  </div>
</div>
{% block catagories %}
  {% snippet 'home/snippets/catagories-block.html' %}
{% endblock %}
{% block features %}
  {% snippet 'home/snippets/features.html' %}
{% endblock %}
{% block featured_data_tweets %}
  {% snippet 'home/snippets/featured_data_tweet.html' %}
{% endblock %}
{% block features_sec %}
  {% snippet 'home/snippets/features_sec.html' %}
{% endblock %}
