{% extends "page.html" %}

{% block subtitle %}{{ _('Terms & Conditions') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a class=" active" href="/condition">condition</a></li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading">{{ _('Terms of Use') }}</h1>
          {% snippet 'static_page/snippets/condition_text.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}