{% trans %}
<p>The demand side of the digital data is growing significantly day by day whereas the supply sides are decentralized. And the demand side entity is having difficulties as the data are disaggregated and shared in the unstructured format through the internet. Government agencies and a good percentage of citizens are getting familiar with technology slowly by substituting the traditional paper-based system. Almost all government agencies now have their own website for information sharing, and the quantity of digital data is increasing day by day. The government also wants citizens to be more data demanding which can leads the government towards accountability and transparency.
</p>

<p>Data and Information play a crucial role in the whole processes. Opening up official information can support technological innovation and economic growth by enabling third parties to develop new kinds of digital applications and services. Open Data Nepal - a civil society initiative which aims to make Nepal's data permanence and accessible online. The available data can be use, reuse and redistribute by users backing the Open Data philosophy. Users can explore, download, use, suggest & publish datasets easily without any legal and technical restriction. </p>

<h3>Open Data Sources</h3>
<p>The datasets published at Open Data Nepal portal are harvested from different public agencies working under the government of Nepal. You can find the list of all official data sources from the Organization tab.
</p>

<h4>Contact</h4>
<p>This project is initiated by Open Knowledge Nepal, feel free to write at <a href=" data@oknp.org"> data@oknp.org</a> for any queries and  information.
</p>


{% endtrans %}
