

<div class="container catagory ">

    <div class="section-title">
        <h1>Explore With Categories </h1>
    </div>

    <div class="row mt40">
        {% set url ='dataset?category=' %}

        <a href="{{url + 'Agriculture' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6 ">
            <div class="catagory-box">
                <span class="fa icon-agriculture"></span>
                <h4>Agriculture</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Education' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-education"></span>
                <h4>Education</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Finance' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-finance"></span>
                <h4>Finance</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Health' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-health"></span>
                <h4>Health</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Legislative' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-legalisation"></span>
                <h4>Legislative</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Travel & Tourism' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-travel-tourism"></span>
                <h4>Travel & Tourism</h4>
            </div>
        </div>
        </a>
    </div>
    
    <div class="row mt40">
        <a href="{{url + 'Aid Data' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-aid"></span>
                <h4>Aid Data</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Census' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-census"></span>
                <h4>Census</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Development Data' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-development"></span>
                <h4>Development Data</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Geo Data' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-geo"></span>
                <h4>Geo Data</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Energy & Water Resource' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-energy"></span>
                <h4>Energy & Water Resources</h4>
            </div>
        </div>
        </a>
        <a href="{{url + 'Government & Administration' | urlencode }}">
            <div class="col-md-2  col-md-2 col-sm-4 col-xs-6">
            <div class="catagory-box">
                <span class="fa icon-government"></span>
                <h4>Government & Administration</h4>
            </div>
        </div>
        </a>
    </div>

</div>