<div class="features-container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="featuresBox">
                        <div class="features-icon" >
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="features-content">
                            <h3>
                                <a>Explore Dataset</a>
                            </h3>
                            <p>
                                Explore datasets with existing features like organizations, groups, tags, formats, licenses and categories.

                            </p>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="featuresBox">
                        <div class="features-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="features-content">
                            <h3>
                                <a >Suggest Dataset</a>
                            </h3>
                            <p>
                               Cannot find the dataset you want, you can suggest a dataset source that you would like to make available.
                            </p>

                        </div>
                        <div class="read">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="featuresBox">
                        <div class="features-icon">
                            <i class="fa fa-sitemap"></i>
                        </div>
                        <div class="features-content">
                            <h3>
                                <a>View Organization</a>
                            </h3>
                            <p>
                                View the list of organization to explore the official sources of data or create new organization.

                            </p>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="featuresBox">
                        <div class="features-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="features-content">
                            <h3>
                                <a>API Features</a>
                            </h3>
                            <p>
                                Use data APIs for efficiency, integration and automation of your web applications and services.

                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>